<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <link rel='stylesheet' href='/css/main.css'>
  </head>

  <body>
    <div class="title">
      <h2>Welcome to Todo List!</h2>
    </div>

    <div class="todo">
    <form action="/todos" method="POST">
      <input type="text" placeholder="Category" name="category">
      <input type="text" placeholder="Todo" name="todo">
      <button type="submit">Add Item</button>
    </form>

    <ul class="todo-items">
      <% for(var i=0; i<todos.length; i++) {%>
        <li class="todo">
          <div id="todo<%= i %>">
            <input id="complete-todo<%= i %>" type="checkbox" oid=<%=todos[i]._id%> />
            <span><%= todos[i].category %></span>
            <span> - <%= todos[i].todo %></span>
          </div>
        </li>
      <% } %>
    </ul>
    <div>
      <button id="change-priority">Change Priority</button>
    </div>
    <script src="main.js"></script>
  </body>
</html>

